body{
  background-color: white;
  background: image/papai3.jpg;
}
#h1{
  color: green;
  text-align: center;
}
.topNavbar{
  list-style-type: none;
}

/* attributes to define the map */
#mapid{
	height: 400px;
	width: 600px;
}
